<% content_for :page_title, "Characters" %>

<section class="section">
  <div class="container">
    <% @dndchars.each do |dnd| %>
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4"><%= link_to dnd.charname, dnd  %></p>
            </div>
          </div>
          <div class="content">
            level: <%= dnd.charlevel %>
          </div>
          <!--<div class="coment-count">
          <span class="tag is-rounded"><%# #comment count %> </span>
        </div>-->
        </div>
      </div>
    <% end %>
  </div>
</section>